<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Regish</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
  </head>
  <body class="" contenteditable="true">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Intro -->
      <section class="intro">
        <header>
          <h1>Regish Shrestha</h1>
          <p>A web designer, developer and student<br /></p>
          <ul class="actions">
            <li>
              <a href="#first" class="arrow scrolly"
                ><span class="label">Next</span></a
              >
            </li>
          </ul>
        </header>
        <div class="content">
          <span class="image fill" data-position="center"
            ><img src="static/images/pic01.jpg" alt=""
          /></span>
        </div>
      </section>

      <section>
        <header>
          <h2>Get in touch</h2>
        </header>
        <div class="content">
          <p>&nbsp; <strong>Welcome ,</strong>You can just message me here</p>
          <form>
            <div class="fields">
              <div class="field half">
                <input type="text" name="name" id="name" placeholder="Name" />
              </div>
              <div class="field half">
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                />
              </div>
              <div class="field">
                <textarea
                  name="message"
                  id="message"
                  placeholder="Message"
                  rows="7"
                ></textarea>
              </div>
            </div>
            <ul class="actions">
              <li>
                <input
                  type="submit"
                  value="Send Message"
                  class="button primary"
                />
              </li>
            </ul>
          </form>
        </div>
        <footer>
          <ul class="items">
            <li>
              <h3>Email</h3>
              regishshrestha@gmail.com<br />
            </li>
            <li>
              <h3>Phone</h3>
              9841517999<br />
            </li>
            <li>
              <h3>Address</h3>
              <span>Satungal, Kathmandu, Nepal</span>
            </li>
            <li>
              <h3>Elsewhere</h3>
              <ul class="icons">
                <li>
                  <a href="#" class="icon brands fa-twitter"
                    ><span class="label">Twitter</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon brands fa-facebook-f"
                    ><span class="label">Facebook</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon brands fa-instagram"
                    ><span class="label">Instagram</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon brands fa-linkedin-in"
                    ><span class="label">LinkedIn</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon brands fa-github"
                    ><span class="label">GitHub</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon brands fa-codepen"
                    ><span class="label">Codepen</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </footer>
      </section>

      <!-- Copyright -->
      <div class="copyright">
        © . All rights reserved. Design:&nbsp;regishshrestha
      </div>
    </div>

    <!-- Scripts -->
    <script src="static/ssets/js/jquery_002.js"></script>
    <script src="static/ssets/js/jquery.js"></script>
    <script src="static/ssets/js/browser.js"></script>
    <script src="static/ssets/js/breakpoints.js"></script>
    <script src="static/ssets/js/util.js"></script>
    <script src="static/ssets/js/main.js"></script>
  </body>
</html>
