<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regish Shrestha</title>
    <link rel="stylesheet" href="static/style1.css" />
    <link rel="icon" href="https://regishshrestha.github.io/cv/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link href="static/css2.css" rel="stylesheet" />
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/cloud.png" alt="" />
      <h1>I'm Regish.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
      <img class="bottom-cloud" src="static/cloud.png" alt="" />
      <img src="static/mountain.png" alt="" />
    </div>
    <div class="middle-container">
      <div class="profile">
        <img class="photoo" src="static/regish.png" alt="" />
        <h2>Hello.</h2>
        <p class="intro">
          I'm a web developer. I'm the secretary and founding member of KBC IT
          Club. I like 🍥🦊anime .
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="code-img" src="static/giphy.gif" alt="" />

          <h3>Design &amp; Development</h3>
          <p class="code-img-description">
            I started learning to code when I was 13 years old because I wanted
            to make my own video games. Overtime, I have gained a wealth of
            experience designing and developing web applicaitons.
          </p>
        </div>
        <div class="skill-row">
          <img class="hike-img" src="static/hiking.png" alt="" />
          <h3>Hiking Mountaing</h3>
          <p class="hike-img-description">
            But my best skill is actually is hiking . I am the undisputed king
            of hiking for days. Exploring Trekking and Mountaing are my
            favourite habits.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love travelling and hiking as much as I do.</h3>
        <p>
          Love travelling and hiking as much as I do? Let's talk about how
          awesome they are!<br />
          We can code while talking about next trip!
        </p>
        <a class="btn" href="mailto:regishshrestha@email.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/regish-shrestha-22b696218/"
        >LinkedIn</a
      >
      <a class="footer-link" href="https://twitter.com/RegishShrestha"
        >Twitter</a
      >
      <a class="footer-link" href="https://github.com/RegishShrestha">GitHub</a>
      <p>© 2018 Regish Shrestha.</p>
    </div>
  </body>
</html>
